*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.box{
    width: 300px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px;
}

body{
    background-color: #f0f8ff;
    margin: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    
}